<section>
  <div class="content-container">
    <h2>Дни рождения в Акванариуме</h2>
    <p class="about">
      Программы позволят познавательно, весело, красиво и необычно
      отпраздновать день рождения. Сделать красивые фото, познакомиться с
      экспозицией Акванариума и повеселиться от души.</p>
    <p>Варианты проведения:</p>
    <ul>
      <li><span style="color: yellow">Экскурсия с викториной от 10 человек, минимальная стоимость
        8000</span>
        <ul>
          <li>Проведение экскурсии, выявление самых активных слушателей по
            итогам викторины, награждение самых активных мягкими игрушками (3
            шт) тематического характера и вручение каждому участнику
            эксклюзивного магнита на память. Предоставление Лектория Акванариума
            на 2 часа, каждый следующий час + 500 руб.
          </li>
          <li>Стоимость <span class="cost">800</span> руб. с ребенка (стоимость
            участия может меняться от
            пожеланий заказчика и варианта призов)
          </li>
        </ul>
      </li>
      <li><span style="color: yellow">Экскурсия с викториной и чаепитием от 10 человек, минимальная
        стоимость 10500</span>
        <ul>
          <li>Проведение экскурсии, выявление самых активных слушателей по
            итогам викторины, награждение самых активных мягкими игрушками (3
            шт) тематического характера и вручение каждому участнику
            эксклюзивного
            магнита на память. Праздничное чаепитие в лектории Акванариума на 2
            часа, каждый следующий час + 500 руб.
          </li>
          <li>Стоимость <span class="cost">1050</span> руб. с ребенка (стоимость
            участия может меняться от
            пожеланий заказчика и варианта призов)
          </li>
        </ul>
      </li>
      <li><span style="color: yellow">Экскурсия с викториной и чаепитием от 10
        человек с
        просмотром
        документального фильма об океане, минимальная
        стоимость 12500</span>
        <ul>
          <li>Проведение экскурсии, выявление самых активных слушателей по
            итогам викторины, награждение самых активных мягкими игрушками (3
            шт) тематического характера и вручение каждому участнику
            эксклюзивного магнита на память. Праздничное чаепитие в лектории
            Акванариума на 2
            часа, каждый следующий час + 500 руб.
          </li>
          <li>Стоимость <span class="cost">1250</span> руб. с ребенка
            (стоимость
            участия может
            меняться от
            пожеланий заказчика и варианта призов)
          </li>
        </ul>
      </li>
    </ul>
    <p>По желанию заказчика возможно проведение праздника с участием
      аниматоров и фотографа.</p>
  </div>
</section>
