<section>
  <app-excursion-brief></app-excursion-brief>
</section>
<section>
  <div class="content-container">
    <div #target class="anchor"></div>
    <h2>Экскурсионно-образовательная программа для
      школьников 2020-2021 учебный год.</h2>
  </div>
  <div class="content-container">
    <p>Цель программы:</p>
    <ul>
      <li>Развитие внутреннего мира детей через созерцание подводной
        красоты.
      </li>
      <li>Формирование эстетического взгляда.</li>
      <li>Знакомство с чудесами и многообразием водной флоры и
        фауны.
      </li>
      <li>Прикоснуться к воде и вспомнить, что всё живое зародилось
        именно в воде, и мы часть этого мира.
      </li>
    </ul>
    <p>Задачи программы:</p>
    <ul>
      <li>Познакомить посетителей с удивительной красотой и
        многообразием нашей планеты.
      </li>
      <li>Способствовать развитию мышления и логики.</li>
      <li>Донести ценность бережного отношения к живой природе.</li>
    </ul>
  </div>
  <div class="content-container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Предмет</th>
        <th scope="col">Тема экскурсий</th>
        <th scope="col">Возраст</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Обще&shy;образова&shy;тель&shy;ная экскурсия</th>
        <td>
          «Знакомство с Акванариумом»<br>
          Задачи:<br>
          Познакомить с жителями Акванариума, рассказать о
          самых ярких представителях и их особенностях.
        </td>
        <td>Для всех возрастов</td>
      </tr>
      <tr>
        <th scope="row">
          География<br>
          Окружаю&shy;щий мир
        </th>
        <td>
          «Ареал обитания»<br>
          Задачи:<br>
          Запомнить расположение материков, островов, морей и
          океанов на планете. Узнать многообразие гидробионтов
          (рыбы, растения, кораллы и различные беспозвоночные)
          и их места обитания.
        </td>
        <td>1-9 классы</td>
      </tr>
      <tr>
        <th scope="row">
          Биология
        </th>
        <td>
          «Жизненный цикл и пищевая цепочка в многообразии
          живых организмов»<br>
          Задачи:<br>
          Познакомиться с многообразием живых организмов.
          Узнать о жизненных циклах. Узнать о пищевых цепочках
          живых организмов.
        </td>
        <td>5-11 классы</td>
      </tr>
      <tr>
        <th scope="row">
          Биология
        </th>
        <td>
          «Селекция, генетика»<br>
          Задачи:<br>
          Познакомиться с понятиями естественного и
          искусственного отбора. Узнать о многообразии
          возможностей в селекции и гибридизации.
        </td>
        <td>9-11 классы</td>
      </tr>
      <tr>
        <th scope="row">
          Биология
        </th>
        <td>
          «Путешествие в растительный мир аквариума»<br>
          Задачи:<br>
          Показать эстетику живой природы в
          искусственно созданных композициях. Донести
          необходимость беречь живую природу. Наглядно
          объяснить процесс фотосинтеза.
        </td>
        <td>дошколь&shy;ники - 11 класс</td>
      </tr>
      <tr>
        <th scope="row">
          Биология
        </th>
        <td>
          «Эволюция»<br>
          Задачи:<br>
          Способствовать развитию мышления и логики. Сделать
          обзор разных теорий эволюции. Подробно рассмотреть
          одну из теорий.
        </td>
        <td>5-11 классы</td>
      </tr>
      <tr>
        <th scope="row">
          Литература<br>
          История<br>
          Культуро&shy;логия
        </th>
        <td>
          «Легенды о рыбах»<br>
          Задачи:<br>
          Познакомить с легендами разных стран, культур и
          цивилизаций, связанных с рыбами. Интересные и первые
          нахождения новых видов рыб в природе. Научить
          понимать, в чем суть легенды, о чем хотел рассказать
          автор или какой аспект культуры отражает
          повествование.
        </td>
        <td>5-11 классы, взрослые</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <div class="content-container">
    <h2>Варианты групповых посещений Акванариума</h2>
  </div>
  <div class="content-container">
    <ul>
      <li style="margin: 1rem 0"><b>Стандарт</b> (входной детский
        билет с экскурсией)
        <ul>
          <li>Проведение экскурсии</li>
          <li><span style="color: yellow">стоимость 450 руб./участник</span>
          </li>
        </ul>
      </li>
      <li style="margin: 1rem 0"><b>Стандарт+</b> (входной детский
        билет с экскурсией+трансфер)
        <ul>
          <li>Проведение экскурсии</li>
          <li>Трансфер от школы до Акванариума и
            обратно
          </li>
          <li><span style="color: yellow">стоимость 750 - 850 руб./участник,
          зависит от количества участников</span>
          </li>
        </ul>
      </li>
      <li style="margin: 1rem 0"><b>Полный</b> (входной детский
        билет с экскурсией, викториной, сувенирами, чаепитием,
        показом документального фильма об Океане).
        <ul>
          <li>Проведение экскурсии, выявление самых
            активных слушателей по итогам викторины и
            награждение
            мягкими игрушками тематического характера.
          </li>
          <li>Чаепитие со сладостями</li>
          <li>Просмотр документального фильма об Океане в лектории
            Акванариума.
          </li>
          <li>Вручение каждому участнику эксклюзивного магнита о
            посещении Акванариума
            на память.
          </li>
          <li><span style="color: yellow">Стоимость 1200 руб./участник</span>
          </li>
        </ul>
      </li>
      <li style="margin: 1rem 0"><b>Полный+</b> (входной детский билет
        с экскурсией,
        викториной, сувенирами, чаепитием, показом документального
        фильма об Океане + трансфер).
        <ul>
          <li>Проведение экскурсии, выявление самых
            активных слушателей по итогам викторины и
            награждение
            мягкими игрушками тематического характера.
          </li>
          <li>Чаепитие со сладостями</li>
          <li>Просмотр документального фильма об Океане в лектории
            Акванариума.
          </li>
          <li>Вручение каждому участнику эксклюзивного магнита о
            посещении Акванариума
            на память.
          </li>
          <li>Трансфер от школы до Акванариума и
            обратно
          </li>
          <li><span style="color: yellow">Стоимость 1500 - 1600
                            руб./участник,
          зависит от количества участников</span>
          </li>
        </ul>
      </li>
    </ul>
    <p>Стоимость рассчитана на группу 20-25 чел.</p>
    <p>Посещение учителя + 1 взрослого сопровождающего бесплатно.</p>
    <p>Для постоянных организаторов групповых и школьных экскурсий
      действует «Соглашение о сотрудничестве»</p>
  </div>
</section>
