<section>
  <div class="content-container">
    <h2>Расписание лектория</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">День недели</th>
        <th scope="col">12:15</th>
        <th scope="col">15:15</th>
        <th scope="col">18:45</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Пн</th>
        <td colspan="5">Санитарный день, закрыт для посещения
        </td>
      </tr>
      <tr>
        <th scope="row">Остальные дни</th>
        <td colspan="3">Показ документального фильма об океане</td>
      </tr>
      </tbody>
    </table>
    <p>*Количество мест в лектории ограничено</p>
  </div>
</section>
