<section>
  <div class="content-container">
    <h2>Как нас найти:</h2>
    <p>Акванариум расположен по адресу: Россия, Рязанская область, г.Рязань,
      улица Полевая, 42/16.</p>
    <p>Остановка "Центральный рынок"</p>
    <ul>
      <li>Автобус: 4, 5, 15, 20, 21, 24, 77</li>
      <li>Троллейбус: 2, 16</li>
    </ul>
    <p>Остановка "Стадион Спартак"</p>
    <ul>
      <li>Автобус: 4, 5, 15, 20, 21, 24</li>
      <li>Троллейбус: 2, 16</li>
    </ul>
    <div class="phone-block">
      <div class="tel">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
             width="24">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path fill="gainsboro"
                d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
        </svg>
        <a href="tel:+74912272711" style="color: white">+7 (4912)
          <span class="phone-number">27-27-11</span></a>
      </div>
      <div class="tel">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
             width="24">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path fill="gainsboro"
                d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
        </svg>
        <a href="tel:+74912272744" style="color: white">+7 (4912)
          <span class="phone-number">27-27-44</span></a>
      </div>
    </div>
  </div>
  <div class="container">
    <ya-map [center]="[54.620903, 39.737276]" [zoom]="17">
      <ya-placemark [geometry]="[54.620903, 39.737276]"></ya-placemark>
    </ya-map>
  </div>
</section>
