:host {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

mat-toolbar {
  background: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--glass-tint);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px var(--glass-shadow);
  text-shadow: 2px 2px 2px var(--glass-shadow);
  color: var(--dark-text-color);
}

mat-icon {
  color: white;
}

.logo {
  cursor: pointer;
}

.page-title {
  margin: auto 1rem;
  color: var(--dark-text-color);
}

.spacer {
  flex: 1 1 auto;
}

.spacer2 {
  flex: 1 1 auto;
}

.address {
  display: block;
  margin: 0 1rem;
}

.tel {
  margin: 0;
  color: var(--dark-text-color);
}

@media (max-width: 730px) {
  .page-title, .address, .tel {
    display: none;
  }
}
