<mat-toolbar>
  <button mat-icon-button class="example-icon"
          (click)="toggleMenu()"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" src="assets/aquanarium-logo.svg" style="height:55px"
       alt="лого" (click)="goHome()">
  <span class="spacer"></span>
  <h2 class="page-title">{{getPage()}}</h2>
  <span class="spacer2"></span>
  <div>
    <div>
      <a href="tel:+74912272711" class="tel">27-27-11</a>
    </div>
    <div>
      <a href="tel:+74912272744" class="tel">27-27-44</a>
    </div>
  </div>
</mat-toolbar>
