section {
  background: url("../../assets/backgrounds/coral_color_water.png") no-repeat center center/cover midnightblue;
  padding: 3rem 0;
}

.container {
  width: 90%;
  height: 800px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .container {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    height: 350px;
  }
}
