<section>
  <div class="content-container">
    <h2>Расписание</h2>
    <p class="lead">C 1 по 15 мая Акванариум работает без&nbsp;выходных</p>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">День недели</th>
      <th scope="col">10:00</th>
      <th scope="col">12:00</th>
      <th scope="col">15:00</th>
      <th scope="col">18:00</th>
      <th scope="col">20:00</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Пн</th>
      <td colspan="5">Санитарный день, закрыт для посещения
      </td>
    </tr>
    <tr>
      <th scope="row">Вт</th>
      <td rowspan="6">
        <span style="writing-mode: vertical-lr;text-orientation: upright;">ОТКРЫТИЕ</span>
      </td>
      <td>Кормление пираний</td>
      <td rowspan="6"><span class="turtle">Кормление черепахи
                            Тортиллы</span>
      </td>
      <td rowspan="6">Кормление всех аквариумов
      </td>
      <td rowspan="6">
        <span style="writing-mode: vertical-lr;text-orientation: upright;">ЗАКРЫТИЕ</span>
      </td>
    </tr>
    <tr>
      <th scope="row">Ср</th>
      <td>Кормление крупных цихлид</td>
    </tr>
    <tr>
      <th scope="row">Чт</th>
      <td>Кормление хищных кораллов</td>
    </tr>
    <tr>
      <th scope="row">Пт</th>
      <td>Кормление мурен</td>
    </tr>
    <tr>
      <th scope="row">Сб</th>
      <td rowspan="2">Бесплатная научно-познавательная
        викторина для детей и подростков, с призами и
        подарками
      </td>
    </tr>
    <tr>
      <th scope="row">Вс</th>
    </tr>
    </tbody>
  </table>
</section>
