:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a[mat-list-item] {
  color: var(--dark-text-color);
  transition: 300ms;
}

a[mat-list-item]:hover {
  transform: scale(1.1);
}

.side-nav-container {
  display: flex;
  flex-direction: column;
}

.divider {
  flex-grow: 1;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin: auto;
}
