:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a[mat-list-item] {
  color: var(--light-text-color);
  transition: color 300ms;
}

a[mat-list-item]:hover {
  color: yellow;
}

.side-nav-container {
  display: flex;
  flex-direction: column;
}

.divider {
  flex-grow: 1;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin: auto;
}
