mat-drawer {
  background: var(--dark-bg);
  color: var(--dark-text-color);
}

.mat-drawer-container {
  color: var(--dark-text-color);
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: var(--dark-bg);
}
