:host {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

mat-toolbar {
  background: rgba(25, 25, 112, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--glass-tint);
  box-shadow: 0 0 5px 1px var(--glass-shadow);
  text-shadow: 2px 2px 2px var(--glass-shadow);
  color: var(--light-text-color);
}

mat-icon {
  color: white;
}

.logo {
  cursor: pointer;
  margin: auto;
  height: 55px;
}

.example-icon {
  position: relative;
}

.pageName {
  position: absolute;
  left: 125%;
  top: 50%;
  transform: translateY(-48%);
  font-size: 1.2rem;
}

@media (max-width: 450px) {
  .pageName {
    display: none;
  }
}
