:host {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

mat-toolbar {
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--glass-tint);
  box-shadow: 0 0 5px 1px var(--glass-shadow);
  text-shadow: 2px 2px 2px var(--glass-shadow);
  color: var(--dark-text-color);
}

mat-icon {
  color: white;
}

.logo {
  cursor: pointer;
  margin: auto;
  height: 55px;
}

.example-icon {
  position: relative;
}

.pageName {
  position: absolute;
  left: 125%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 450px) {
  .pageName {
    display: none;
  }
}
