<section>
  <div class="content-container">
    <h2>Стоимость билетов</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Категория</th>
        <th>Стоимость, руб</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Дети</td>
        <td>250</td>
      </tr>
      <tr>
        <td>Взрослые</td>
        <td>350</td>
      </tr>
      <tr>
        <td>Дети до 4-х лет*</td>
        <td>Бесплатно</td>
      </tr>
      <tr>
        <td>Студенты, пенсионеры*</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Многодетные, сироты, инвалиды*</td>
        <td>Скидка 50%</td>
      </tr>
      <tr>
        <td>Герои СССР, герои России и ветераны войн*</td>
        <td>Бесплатно</td>
      </tr>
      </tbody>
    </table>
    <p>*Льготы действуют только при предъявлении соответствующего документа</p>
  </div>
</section>
