/* You can add global styles to this file, and also import other style files */
:root {
  --glass-tint: rgba(0, 128, 255, 0.02);
  --glass-shadow: rgba(0, 128, 255, 0.2);
  --glass-red: red;
  --light-bg: white;
  --dark-bg: royalblue;
  --light-text-color: midnightblue;
  --dark-text-color: gainsboro;
  --accent-color: cornflowerblue;
  --neutral-gray: #707070;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--dark-bg);
}
