section {
  background: url("../../../../assets/backgrounds/coral_color_water.png") no-repeat center center/cover midnightblue;
  padding: 3rem 0;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--dark-text-color);
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 2rem auto;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

table {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  border-collapse: collapse;
  border-color: white;
}

td, th {
  color: var(--dark-text-color);
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

th:first-child {
  width: 20%;
}

th:nth-child(2) {
  width: 10%;
}

th:nth-child(3) {
  width: 30%;
}

th:nth-child(4) {
  width: 10%;
}

th:nth-child(5) {
  width: 20%;
}

th:nth-child(6) {
  width: 10%;
}

@media (max-width: 1100px) {
  section {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  section {
    font-size: .8rem;
  }

  .turtle {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  section {
    font-size: .7rem;
  }

  .turtle {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  h2 {
    font-size: 1.6rem;
  }
}
