<section>
  <div class="container">
    <h2>Экскурсии</h2>
    <table border="1" class="table">
      <thead>
      <tr>
        <th>Количество человек</th>
        <th>Стоимость*, руб.</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>3-4</td>
        <td>500</td>
      </tr>
      <tr>
        <td>5-10</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>11-15</td>
        <td>1500</td>
      </tr>
      <tr>
        <td>16-20</td>
        <td>2000</td>
      </tr>
      <tr>
        <td>Свыше 20 чел.</td>
        <td>+100руб/чел</td>
      </tr>
      <tr>
        <td colspan="2">Готовы рассмотреть индивидуальные предложения.</td>
      </tr>
      </tbody>
    </table>
    <p>*В стоимость экскурсии не входит стоимость билета!</p>
  </div>
</section>
