<section>
    <div class="content-container">
        <h2>
            Вакансии Акванариума
        </h2>
        <ul>
            <li>
                Директор отдела продаж
            </li>
            <li>
                Менеджер по продаже экскурсий
            </li>
        </ul>
        <p>
            Информация о вакансиях и вопросы трудоустройства по телефону <a href="tel:+79537489132">
            <span class="phone-number">
                +7 (953) 748-91-32
            </span></a>
        </p>
    </div>
</section>
