<!--<div class="container">-->
  <mat-card class="card">
    <iframe mat-card-image width="560" height="315"
            src="https://www.youtube.com/embed/3_3m1vttpbY"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <mat-card-content>
      <p>Russian Aquariums в гостях в рязанском акванариуме</p>
    </mat-card-content>
  </mat-card>
<!--</div>-->
<!--<div class="container">-->
  <mat-card class="card">
    <video mat-card-image class="video" src="../../../assets/video/aquanarium1.mp4"
           controls></video>
    <mat-card-content>
      <p>Немного позитива для настроения</p>
    </mat-card-content>
  </mat-card>
<!--</div>-->
