:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding-top: 5rem;
  color: var(--dark-text-color);
}

.video {
  max-width: 560px;
}

.card {
  max-width: 400px;
  background: transparent;
  margin: 2rem auto;
  color: var(--dark-text-color);
}
